{
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(41, 49, 51);
}

ul {
	width: 55vw;
	height: 5vh;
	text-align: right;
	margin-left: 35vw;


}
ul li {
	display: inline-block;
	cursor: pointer;
	font-size: 25px;
	margin-left: 2vw;
	margin-right: 2vw;
	color: wheat;
}
ul li:hover {
	color: wheat;
	transition: 0.3s;
	border-bottom: solid 1px white;
}
main {
	display: flex;
	width: 100vw;
	height: 80vh;
	margin-top: 5vh;

}
.media {
	width: 45vw;
	margin-left: 5vw;
}
h2 {
	font-size: 40px;
	color: white;
	margin-top: 40px;
	text-shadow: 4px 4px 6px black;
}
.text {
	font-size: 18px;
	color: white;
	margin-top: 20px;
	text-shadow: 4px 4px 6px black;
}
.media-right {
	width: 45vw;
	margin-left: 5vw;
}
img {
	width: 300;
	height: 400;
	margin-left: 0vw;
	margin-top: 1vw;
	object-fit: cover;

}